VITE_SUPABASE_URL=https://lnyegukjkgjmjcglsxzp.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxueWVndWtqa2dqbWpjZ2xzeHpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzOTE2NDUsImV4cCI6MjEwNTk2NzY0NX0.3gnQCK6qYtKSB2ihPaEUT264u5Iv3LP5y0RPz5zvJiE
